
body {
    background-color: #030720;
    color: white;
    -webkit-box-shadow: inset 0px 0px 22px 25px #77D7C7; 
    box-shadow: inset 0px 0px 22px 25px #77D7C7;
}
#log-in-form {
    margin-top: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    background-color: #020820;
    border: 5px #66B6C3 solid;
    color: white;
    width: 20%;
    font-size: 2em;
    -webkit-box-shadow: 5px 5px 50px 5px #9D75CB; 
    box-shadow: 5px 5px 50px 5px #9D75CB;
    border-radius: 50px;
}

#login {
    width: 150px;
    height: 30px;
    font-size: 0.6em;
    background-color: #77D7C7;
    border: none;
}
#signup-actual {
    width: 150px;
    height: 30px;
    font-size: 0.6em;
    background-color: #77D7C7;
    border: none;
}

#signup {
    background-color: #9B7AC6;
    width: 150px;
    height: 30px;
    font-size: 0.6em;
    border: none;
}
#signup:hover{
    cursor: pointer;
    filter: blur(10%);
}
#login:hover{
    cursor: pointer;
}

#home-container {
    text-align: center;
}
#welcome {
    
    font-size: 2.5em;
    background-color: rgb(80, 59, 104);
    color: white;
    width: 100%;
    margin: auto;
    padding: 20px 0 20px 0;
    -webkit-box-shadow: 0px 27px 17px -7px #50F2D7; 
    box-shadow: 0px 30px 17px -7px #50F2D7;
    margin-bottom: 5%;
}
span {
    color: #50F2D7;
}
#action-container {
    margin-top: 3%;
    font-size: 1.5em;
}
#action-container > input {
    width: 500px;
    height: 50px;
    font-size: 1.1em;
}
#user-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    height: 100%;
}
#search-result {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 32px;
    align-self: center;
    text-align: center;
    flex-direction: row;
}
#playlists {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#playlist-videos {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 32px;
    align-self: center;
    text-align: center;
    flex-direction: row;
}

#create-playlist {
    margin-bottom: 5%;
}

#playlists > input {
    margin-top: 2%;
    align-self: center;
    width: 20%;
}

#playlists > select {
    align-self: center;
    width: 30%;
}

iframe {
    width: 500px;
    height: 300px;
    border: black 5px solid;
    margin-bottom: 3%;
    margin-left: 10px;
    margin-right: auto;
}

.result-video-container {
    -webkit-box-shadow: 5px 5px 50px 5px #9D75CB; 
    box-shadow: 5px 5px 50px 5px #9D75CB;
    width: 100%;
    margin-bottom: 10%;
    align-self: center;
}

.playlist-video-container {
    -webkit-box-shadow: 5px 5px 50px 5px #5953CF; 
    box-shadow: 5px 5px 50px 5px #5953CF;
    width: 100%;

    align-self: center;
}
.delete-video-to-playlist {
    background-color: maroon;
    border: none;
    margin-bottom: 5%;
    color: white;
    font-size: 1.2em;
}

.delete-video-to-playlist:hover {
    cursor: pointer;
}
